<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>colinelog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F8EC45E2E7FD7780042530C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8EC46F2E7FD7790042530C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8EC4792E7FD7790042530C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
